<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid403" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="MonoAndroid403" />
  <package id="RestSharp" version="105.2.3" targetFramework="MonoAndroid403" />
  <package id="ServiceStack.Interfaces" version="4.0.44" targetFramework="MonoAndroid403" />
  <package id="ServiceStack.Text" version="4.0.44" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid403" />
</packages>