**/bin
**/obj
*.suo
*.DotSettings.user
*.userprefs
*.nupkg
packages/*
!packages/repositories.config
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/Cirrious.CrossCore.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/Cirrious.CrossCore.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/Cirrious.MvvmCross.Localization.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/Cirrious.MvvmCross.Localization.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/Cirrious.MvvmCross.Plugins.Sqlite.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/Cirrious.MvvmCross.Plugins.Sqlite.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/SQLiteNetExtensions-MvvmCross.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Debug/SQLiteNetExtensions-MvvmCross.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/Cirrious.CrossCore.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/Cirrious.CrossCore.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/Cirrious.MvvmCross.Localization.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/Cirrious.MvvmCross.Localization.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/Cirrious.MvvmCross.Plugins.Sqlite.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/Cirrious.MvvmCross.Plugins.Sqlite.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/bin/Release/SQLiteNetExtensions-MvvmCross.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/obj/Debug/SQLiteNetExtensions-MvvmCross.dll
MvvmCross/SQLiteNetExtensions-MvvmCross/obj/Debug/SQLiteNetExtensions-MvvmCross.dll.mdb
MvvmCross/SQLiteNetExtensions-MvvmCross/obj/Release/SQLiteNetExtensions-MvvmCross.dll
